body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

.calculator {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.calculator-screen {
    width: 90%;
    height: 50px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculation-history {
    color: #333;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 16px;
    min-height: 20px;
}

.button {
    padding: 15px 0;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #2980b9;
    border-radius: 5px;
    cursor: pointer;
}

.button:active {
    background-color: #1b6f95;
}

.operator {
    background-color: #d59500;
}

.double {
    grid-column: span 2;
}

.equals {
    background-color: #2ecc71;
    grid-column: span 2;
}
