body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    background-color: #f0f8ff;
}

.card {
    width: 270px;
    height: 140px;
    border-radius: 5px;
    overflow: visible;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.card img {
    position: absolute;
    bottom: 0px;
    height: 182px;
}

.card#spider-man img {
    bottom: -22px;
}

.card .info {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    padding: 5px;
    text-align: right;
}

.alias {
    color: white;
    font-size: 12px;
    margin: 0;
}

.real-name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
    margin: 0;
}
